<a href="https://colab.research.google.com/github/theshahidshaikh/Fake_news_prediction/blob/main/Fake_News_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [15]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [24]:
news_dataset = pd.read_csv('/content/WELFake_Dataset.csv',)

In [17]:
news_dataset.isnull().sum()

Unnamed: 0     0
title         93
text          26
label         20
dtype: int64

In [18]:
news_dataset = news_dataset.fillna('')

In [19]:
X = news_dataset.drop(columns='label',axis=1)
Y = news_dataset['label']

In [20]:
#Stemming
port_stem = PorterStemmer()

def stemming(content):
  stemmed_content = re.sub('[^a-zA-Z]',' ',content)
  stemmed_content = stemmed_content.lower()
  stemmed_content = stemmed_content.split()
  stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
  stemmed_content = ' '.join(stemmed_content)
  return stemmed_content

In [21]:
news_dataset['title'] = news_dataset['title'].apply(stemming)